<div class="container-fluid">
   
    <div class="row  header1">
        
            
                 
    <div class="col-lg-2"><img src="https://github.com/maheswari288/ecewebsite/blob/main/assets/images/logo1.jpg?raw=true" height="135px" width="120px" style="margin-left: 20px;"/></div>
                
    <div class="col-lg-6 collegename"><h4>POTTI SRIRAMULU CHALUVADI MALLIKARJUNA RAO COLLEGE OF ENGNEERING AND TECHNOLOGY</h4>
   <h5>Sponsored bye SKPVV Hindu High Schools Committe, Estd :1906<br>
    (Affiliated to JNTUK, Kakinada & Approved by AICTE, New Delhi )</h5>

    </div>
    <div class="col-lg-4" style="padding-top:13px;">
        <img src="https://github.com/maheswari288/ecewebsite/blob/main/assets/images/naac.png?raw=true" height="100px" width="70px" style="margin-right: 30px;"/>
        <img src="https://github.com/maheswari288/ecewebsite/blob/main/assets/images/nba.png?raw=true" height="100px" width="80px" style="margin-right: 30px;"/>
        <img src="https://github.com/maheswari288/ecewebsite/blob/main/assets/images/isro.png.jpg?raw=true" height="100px" width="80px" />
        
       
    </div>

    </div>
  
</div>






<div class="container-fluid" >
    <div class="row">
        <div class="col-lg-12">
        <div class="row header2">
            <div class="col-lg-1"></div>
            
        
            <div class="col-lg-2"><a style=" color:white; text-decoration: none;" [routerLink]="['/home']">Home</a></div>
            <div class="col-lg-2"><a style=" color:white; text-decoration: none;" [routerLink]="['/about']">About</a></div>
            
            <div class="dropdown col-lg-2"><a style=" color:white; text-decoration: none;" [routerLink]="['/acheivments']">Achievment</a>
            <div class="dropdown-content">
                <a    style=" color:black; text-decoration: none;"  [routerLink]="['/studentacheivments']">Student Achievments</a><br>
                <a style=" color:black; text-decoration: none;" [routerLink]="['/facultyachievments']">faculty Achievments</a>
                
               
            </div>
        </div>
                  
            <div class="col-lg-2"><a style=" color:white; text-decoration: none;" [routerLink]="['/contact']">Contact</a></div>
            <div class="col-lg-2"><a style=" color:white; text-decoration: none;" [routerLink]="['/placements']">placements</a></div>

            <div class="col-lg-1"></div>
           
    
               
    
            
    
    
        </div>
    </div>
</div>
</div>































