<div class="container-fluid footer">
    <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-5 part1">
              <img src="https://github.com/maheswari288/ecewebsite/blob/main/assets/images/footericon.png?raw=true" width="100px" height="100px" /><br><br>
              <p style="margin-right: 80px; margin-left: 80px;" >The ECE department focuses on the study and application of electrical and computer systems, technologies, and principles.</p>
              
            </div>
            <div class="col-lg-3 part2"><h4 style="color:brown">Quick Link</h4>
          
              <ul>
                <li><a style=" color:white; text-decoration: none;" [routerLink]="['/home']" > Home</a><br></li>
                  <li><a  style="color:white; text-decoration: none;"   [routerLink]="['/about']" >About</a><br></li>
                  <li><a style="color:white;text-decoration: none;" [routerLink]="['/courses']" >Courses</a><br></li>
                  <li><a style="color:white;  text-decoration: none;"  [routerLink]="['/pages']" >Pages</a><br></li>
                  <li><a style="color:white; text-decoration: none;"  [routerLink]="['/contact']" >Contact</a></li>
          
              
              </ul>  
        

            </div>
            <div class="col-lg-4 part3"><h4 style="color:brown">Contact US</h4>

              <p><i class="fa fa-map-marker"></i>&nbsp;PSCMR College of Engineering & Tech.<br>
                7-3-6/1, Raghavareddy Street,
                Kothapeta, Vijayawada-520001
                Andhra Pradesh, India<br>
              <i class="fa fa-phone"></i>&nbsp;7337355861<br>
              <i class="fa fa-envelope"></i>&nbsp;abc@gmail.com<br></p>
              

           


            </div>
          
          </div>
         
        </div>
    </div>
</div>