.footer{
    background-color:#002244;
    height:350px;
    color:white
}

.part1{
    padding-top: 60px;
    text-align: center;
    
   

}
.part2{
    padding-top: 70px;
}

.part3{
    padding-top: 70px;
}

