<div class="row ">
    <div class="col-lg-12 rowslider " style="background-image: url(https://github.com/maheswari288/ecewebsite/blob/main/assets/images/frontimage.jpg?raw=true); height:250px; width:100%;">
        
        <div class="row  " style="background: rgba(0, 0, 0, 0.5); height:100%; ">
            <div class="col-lg-12 slidercontent">
                <h1 class="aboutname">Student Achievments</h1>
                <p class="aboutp">About/Contact/Achievments</p>

          </div>
      </div>
            
            

    </div>
</div><br><br>


<div class="container">
    <div class="row">
        <div class="col-lg-3">
            </div>
        
            <div class="col-lg-2"><hr class="new5">
            </div>
            <div class="col-lg-1" style="text-align:center;color: #00BFFF;"><h5>projects</h5></div>
            <div class="col-lg-2"><hr class="new6 " >
            </div>
            
            <div class="col-lg-4">
            </div>
       
    </div>
    

</div>
<div><h1 style="margin-left: 600px; color: black;">Jignasa Event</h1></div>
<br>
<br>


        <div class="container">
            <div class="row" style="display: flex;">
                <div class="col-lg-6 container">
                    <div class="row1  ">
                        <div class="col-lg-12">
                            <div class="card  magnify">
                                <img class="card-image-top"
                                src="https://github.com/maheswari288/ecewebsite/blob/main/assets/images/p1-1.jpg?raw=true" style="height: 220px;"/>


                            
                            </div>


                        </div><br>
                    </div>
                    <div class="row1">
                        <div class="col-lg-12">
                            <div class="card  magnify">
                                <img class="card-image-top"
                                src="https://github.com/maheswari288/ecewebsite/blob/main/assets/images/p1-2.jpg?raw=true" style="height: 220px;"/>


                            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 plp">
                    <h5  style="color:#00BFFF">Description</h5>
                    <h3  style="color:black;">Ultrasonic Radar</h3>
                <p>An ultrasonic radar for security is a project that utilizes ultrasonic waves to create a radar-like system for detecting and monitoring movement or objects within a specific area. This type of project can be used for various security applications, such as intrusion detection, monitoring restricted areas, or enhancing perimeter security. Here's an overview of how you might approach building an ultrasonic radar for security</p>
                <p>Ultrasonic Sensors: These sensors emit ultrasonic waves and measure the time it takes for the waves to bounce back after hitting an object. This information is used to calculate the distance to the object.</p>
                <ul><li><p>Microcontroller: A microcontroller (e.g., Arduino, Raspberry Pi) will process the data from the ultrasonic sensors and control the overall system.</p></li>
                    <li><p>Motor or Servo Motor: If you want to create a radar-like scanning effect, you might use a motor or servo motor to rotate the ultrasonic sensors.</p></li>
                    <li><p>Display: You can use LEDs, an LCD screen, or other visual indicators to display the detected movement or objects.</p></li>
                </ul>

                
                    

                    
                
                    
      
                </div>
            </div>
        </div><br><br><br>


<div class="container">
    <div class="row">
        <div class="col-lg-3">
            </div>
        
            <div class="col-lg-2"><hr class="new5">
            </div>
            <div class="col-lg-1" style="text-align:center;color: #00BFFF;"><h5>projects </h5> </div>
            <div class="col-lg-2"><hr class="new6 " >
            </div>
            
            <div class="col-lg-4">
            </div>
       
    </div>
    

</div>
<div><h1 style="margin-left: 550px; color: black;">Swecha Bootcamp</h1></div>
<br>
<br>


        

        <div class="container">
            <div class="row" style="display: flex;">
                <div class="col-lg-7 container">
                    <div class="row1  ">
                        <div class="col-lg-12">
                            <div class="card  magnify">
                                <img class="card-image-top-"
                                src="https://github.com/maheswari288/ecewebsite/blob/main/assets/images/swecha-1.jpg?raw=true" style="height: 250px; width:100%;"/>

                            
                            </div>


                        </div><br>
                    </div>
                    <div class="row2" style="display: flex;">
                         <div class="col-lg-6">
                            <div class="card  magnify">
                                <img class="card-image-top" 
                                src="https://github.com/maheswari288/ecewebsite/blob/main/assets/images/swecha-3.jpg?raw=true" style="height: 220px;width: 100%;"/>
        
        
                            
                            </div>

                         </div>
                         <div class="col-lg-6" style="padding-left: 30px;">

                            <div class="card  magnify">
                                <img class="card-image-top"
                                src="https://github.com/maheswari288/ecewebsite/blob/main/assets/images/swecha-3k.jpg?raw=true" style="height: 220px;width: 100%;"/>
        
        
                            
                            </div>

                         </div>
                    </div>
                </div>
                <div class="col-lg-5">

                    <div class="card  magnify">
                        <img class="card-image-top"
                        src="https://github.com/maheswari288/ecewebsite/blob/main/assets/images/swecha-4.jpg?raw=true" style="height: 500px;width: 100%;"/>


                    
                    </div>
           
      
                </div>
                <br><br>
                
    
            </div><br><br><br>




            <div class="container">
            <div class="row">
                <div class="col-lg-6"><iframe width="560" height="315" src="https://www.youtube.com/embed/mqeP8DROlqg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
                <div class="col-lg-6"><h5 style="color:#00BFFF">Sweccha</h5>
                <h2 class="black;">Aurdino Bootcamp</h2>
                <p>Sweccha is a not-for profit Organization. Swecha is a part in pscmr college since 3 years. They conducted Aurdino bootcamp for students.here is the Youtube video of the experiments done by students</p>
                <div class="row">
                    <div class="col-lg-6">
                        <div><ul>
                           <h6> <li>Temperature Sensor</li></h6>
                            <h6><li>Soil Moisture</li></h6>
                            <h6><li>LED Blinking</li></h6>
                        </ul></div>


                    </div>
                    <div class="col-lg-6">
                        <div><ul>
                            <h6> <li>Traffic Light Controller</li></h6>
                             <h6><li>Ultrasonic Distance Measurement</li></h6>
                             <h6><li>Ultrasonic Distance Measurement</li></h6>
                         </ul></div>
                    </div>
                </div><br>
                <div class="btn btn-primary button"
                 style="background-color: #00BFFF;">SEE MORE</div>
                
            </div>
            </div>
              
            </div><br><br>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        </div>
                    
                        <div class="col-lg-2"><hr class="new5">
                        </div>
                        <div class="col-lg-1" style="text-align:center;color: #00BFFF;"><h5>PSCMR</h5> </div>
                        <div class="col-lg-2"><hr class="new6 " >
                        </div>
                        
                        <div class="col-lg-4">
                        </div>
                   
                </div>
                
            
            </div>
            <div><h3 style="margin-left: 450px; color: black;">Clubs & Organizations</h3></div>
            <br>
            <br>
            



            
            <div class="row">
                <marquee style="background-color: white; height:200px;">
                

                <img src="https://github.com/maheswari288/ecewebsite/blob/main/assets/images/iete.jpg?raw=true" style="width: 200px; height:150px;  margin-left: 45px;"/>
                <img src="https://github.com/maheswari288/ecewebsite/blob/main/assets/images/ieee.jpg?raw=true" style="width: 200px; height:150px;  margin-left: 45px;"/>
                <img src="https://github.com/maheswari288/ecewebsite/blob/main/assets/images/rotract.jpg?raw=true" style="width: 200px; height:150px; margin-left: 45px;"/>
                <img src="https://github.com/maheswari288/ecewebsite/blob/main/assets/images/toastmasters.jpg?raw=true" style="width: 200px; height:150px;  margin-left: 45px;"/>
                <img src="https://github.com/maheswari288/ecewebsite/blob/main/assets/images/swechalogo.jpg?raw=true" style="width: 200px; height:150px;  margin-left: 45px;"/>
                

                
                
               </marquee></div><br>
            

        </div>




        
       