<div class="row ">
    <div class="col-lg-12 rowslider " style="background-image: url(https://github.com/maheswari288/ecewebsite/blob/main/assets/images/frontimage.jpg?raw=true); height:250px; width:100%;">
        
        <div class="row  " style="background: rgba(0, 0, 0, 0.5); height:100%; ">
            <div class="col-lg-12 slidercontent">
                <h1 class="aboutname">Contact</h1>
                <p class="aboutp">About/Acheivments/Contact</p>

          </div>
      </div>
            
            

    </div>
</div><br><br>

<h1 style="text-align: center;">Contact for any Query</h1><br>

<div class="container-fluid">
    <div class="row" style="padding: 20px;">
        <div class="col-lg-6">
           
            <form>
                <div class="form-group">
                    <label>Full Name</label>
                    <input type="text" class="form-control"/>
                </div>
                <div class="form-group">
                    <label>Roll Number</label>
                    <input type="number" class="form-control"/>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control"/>
                </div>
                <div class="form-group">
                    <label>password</label>
                    <input type="text" class="form-control"/>
                </div>
                <div class="form-group">
                    <label>Branch</label>
                    <input type="text" class="form-control"/>
                </div>
                <div class="form-group">
                    <label>Message</label>
                    <input type="text" class="form-control"/>
                </div><br>
                
                <button class="btn btn-success button ">Submit</button>
            </form>
        </div>
        <div class="col-lg-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15299.701187562494!2d80.60320145015201!3d16.529868597491532!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a35f01e63539d21%3A0x71a2c954de88ca67!2sPSCMR%20College%20of%20Engineering%20and%20Technology!5e0!3m2!1sen!2sin!4v1692631078307!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>





