<div class="row ">
        <div class="col-lg-12 rowslider " style="background-image: url(https://github.com/maheswari288/ecewebsite/blob/main/assets/images/frontimage.jpg?raw=true);">
            
            <div class="row  " style="background: rgba(0, 0, 0, 0.5); ">
                
            </div>
    
        </div>
</div><br><br><br>



<div class="container">
    <div class="row">
        <div class="col-lg-3">
            </div>
        
            <div class="col-lg-2"><hr class="new5">
            </div>
            <div class="col-lg-1" style="text-align:center;color: #00BFFF;"><h5>Faculty</h5> </div>
            <div class="col-lg-2"><hr class="new6 " >
            </div>
            
            <div class="col-lg-4">
            </div>
       
    </div>
    

</div>
<div><h2 style="margin-left: 550px; color: black;">Board Members</h2></div>
<br>
<br>

<div class="container" style="padding:20px;">
    

    <div class="row">
        

        
        <div class="col-lg-3">
            <div class="card  magnify">
                <img class="card-image-top"
                src="https://github.com/maheswari288/ecewebsite/blob/main/assets/images/mallikarjuna.jpg?raw=true" style="height:300px;"/>
                <div class="card-body">
                    <h5 class="card-title">mallikarjuna Rao</h5>
                    <p class="card-text">Chairman of Potti Sriramulu College of Engneering and Technology</p>
                </div>
            </div>
    </div>


        <div class="col-lg-3 ">
            <div class="card  magnify">
                <img class="card-image-top"
                src="https://github.com/maheswari288/ecewebsite/blob/main/assets/images/principal.jpg?raw=true" style="height: 300px;"/>
                <div class="card-body">
                    <h5 class="card-title">Professor & Principal</h5>
                    <p class="card-text">	Dr.J.Lakshminarayana M.Tech., Ph.D<br>
                        AICTE id: #<br>
                        Email : drjln@pscmr.ac.in</p>
                </div>
            </div>
    </div>
    <div class="col-lg-3 ">
        <div class="card  magnify">
            <img class="card-image-top"
            src="https://github.com/maheswari288/ecewebsite/blob/main/assets/images/patanjali.jpg?raw=true" style="height: 300px;"/>
            <div class="card-body">
                <h5 class="card-title">Professor & Vice Principal</h5>
                <p class="card-text">	Dr.A.Pathanjali Sastri, M.Tech.,Ph.D.,<br>
                    AICTE id: 1-2940478050<br>
                    Email :cse.hod@pscmr.ac.in</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 ">
        <div class="card  magnify">
            <img class="card-image-top"
            src="https://github.com/maheswari288/ecewebsite/blob/main/assets/images/ravi.jpg?raw=true" style="height: 300px;"/>
            <div class="card-body">
                <h5 class="card-title">Professor
                    & HEAD OF THE DEPARTMENT</h5>
                <p class="card-text">Dr.A.Ravi, B.Tech., M.Tech., Ph.D<br>
                    AICTE id: 1-7426640490<br>
                    Email : ece.hod@pscmr.ac.in</p>
            </div>
        </div>
    </div>

   


  </div>
</div><br><br>

<div class="container">
    <div class="row">
        <div class="col-lg-3">
            </div>
        
            <div class="col-lg-2"><hr class="new5">
            </div>
            <div class="col-lg-1" style="text-align:center;color: #00BFFF;"><h5>PSCMR</h5> </div>
            <div class="col-lg-2"><hr class="new6 " >
            </div>
            
            <div class="col-lg-4">
            </div>
       
    </div>
    

</div>
<div><h3 style="margin-left: 550px; color: black;">Clubs & Organizations</h3></div>
<br>
<br>





            
<div class="row">
    <marquee style="background-color: white; height:200px;">
    <img src="https://github.com/maheswari288/ecewebsite/blob/main/assets/images/iete.jpg?raw=true" style="width: 200px; height:150px;  margin-left: 45px;"/>
    <img src="https://github.com/maheswari288/ecewebsite/blob/main/assets/images/ieee.jpg?raw=true" style="width: 200px; height:150px;  margin-left: 45px;"/>
    <img src="https://github.com/maheswari288/ecewebsite/blob/main/assets/images/rotract.jpg?raw=true" style="width: 200px; height:150px; margin-left: 45px;"/>
    <img src="https://github.com/maheswari288/ecewebsite/blob/main/assets/images/toastmasters.jpg?raw=true" style="width: 200px; height:150px;  margin-left: 45px;"/>
    <img src="https://github.com/maheswari288/ecewebsite/blob/main/assets/images/swechalogo.jpg?raw=true" style="width: 200px; height:150px;  margin-left: 45px;"/>
                
    

    
    
   </marquee></div><br>


  
    


