<div class="row ">
    <div class="col-lg-12 rowslider " style="background-image: url(https://github.com/maheswari288/ecewebsite/blob/main/assets/images/frontimage.jpg?raw=true); height:250px; width:100%;">
        
        <div class="row  " style="background: rgba(0, 0, 0, 0.5); height:100%; ">
            <div class="col-lg-12 slidercontent">
                <h1 class="aboutname">Faculty Achievments</h1>
                <p class="aboutp">Students/faculty Achievments</p>

          </div>
      </div>
            
            

    </div>
</div><br><br><br>


<div class="container">
  <div class="row">
      <div class="col-lg-3">
          </div>
      
          <div class="col-lg-2"><hr class="new5">
          </div>
          <div class="col-lg-1" style="text-align:center;color: #00BFFF;"><h5>Faculty</h5></div>
          <div class="col-lg-2"><hr class="new6 " >
          </div>
          
          <div class="col-lg-4">
          </div>
     
  </div>
  

</div>
<div><h1 style="margin-left: 620px; color: black;">E-yanthra</h1></div>
<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-lg-7">
      <div class="row1">
        <div class="col-lg-12">
          <div class="card  magnify">
            <img class="card-image-top"
            src="https://github.com/maheswari288/ecewebsite/blob/main/assets/images/fp1.jpg?raw=true"     style="height:250px; "/>
          </div><br/>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="card  magnify">
            <img class="card-image-top" 
            src="https://github.com/maheswari288/ecewebsite/blob/main/assets/images/fp2.jpg?raw=true"   style="height:230px; width:100%;"/>
          </div> 
        </div>
        <div class="col-lg-6">
          <div class="card  magnify">
            <img class="card-image-top"
            src="https://github.com/maheswari288/ecewebsite/blob/main/assets/images/fp3.jpg?raw=true"    style="height:230px; width:100%;"/>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5"> <div class="card  magnify">
      <img class="card-image-top" 
      src="https://github.com/maheswari288/ecewebsite/blob/main/assets/images/fp-4.jpg?raw=true"   style="height:500px; width:100%;"/>
    </div> 
  <br/></div>
  </div>
  
</div>

 
<h3 style="text-align: center;">Faculty Information for CAY 2022-23</h3><br><br>
<table style="width:80%" style="padding-top: 15px; margin-left:90px;">
  <tr>
    <th style="width:30px;  color:#0CAFFF">S.No</th>

    <th style="width: 200px; color:#0CAFFF">Name of the Faculty</th>
    <th style="width: 200px; color:#0CAFFF">Designation</th>
    <th style="width: 200px; color:#0CAFFF">Highest Degree</th>
  </tr>
  <tr>
    <td style="color:red;">1</td>
    <td>Dr.A.Ravi</td>
    <td>Professor & HOD</td>
    <td>Ph.D</td>
  </tr>
  <tr>
    <td style="color:red;">2</td>
    <td>Dr.J.Lakshmi Narayana
    </td>
    <td>Professor & Principal
    </td>
    <td>Ph.D
    </td>
  </tr>
  <tr>
    <td style="color:red;">3</td>
    <td>Mrs. G.M.G.Madhuri</td>
    <td>Associate.Professor</td>
    <td>M.Tech, (Ph.D)</td>
   
  </tr>
  <tr>
    <td style="color:red;">4</td>
    <td>Mrs. A.V.Kiranmai
    </td>
    <td>Associate.Professor
    </td>
    <td>M.Tech, (Ph.D)</td>
  </tr>
  <tr>
    <td style="color:red;">5</td>
    <td>Dr.D.Krishna
    </td>
    <td>Associate.Professor
    </td>
    <td>Ph.D
    </td>
  </tr>
  <tr>
    <td style="color:red;">6</td>
    <td>Mr. K.Sundar Srinivas</td>
    <td>Assistant.Professor
    </td>
    <td>M.Tech, (Ph.D)

    </td>
  </tr>
  <tr>
    <td style="color:red;">7</td>
    <td>Mr. V.L.Satyanarayana

    </td>
    <td>Assistant.Professor
    </td>
    <td>M.Tech,(Ph.D)
    </td>
  </tr>
  <tr>
    <td style="color:red;">8</td>
    <td>Mr. K.Raghavendra Rao
    </td>
    <td>Assistant.Professor
    </td>
    <td>M.Tech
    </td>
  </tr>
  <tr>
    <td style="color:red;">9</td>
    <td>Ms. J.Anusha</td>
    <td>Assistant.Professor
    </td>
    <td>M.Tech
    </td>
  </tr>
  <tr>
    <td style="color:red;">10</td>
    <td>Mrs. B.Sushma

    </td>
    <td>Assistant.Professor
    </td>
    <td>M.Tech</td>
  </tr>
  <tr>
    <td style="color:red;"> 11</td>
    <td>Mr. M.Naveen Kumar
    </td>
    <td>Assistant.Professor
    </td>
    <td>M.Tech, (Ph.D)
    </td>
   
  </tr>
  <tr>
    <td  style="color:red;">12</td>
    <td>Mr. T.R.S.Chandran
    </td>
    <td>Assistant.Professor
    </td>
    <td>M.Tech</td>
   
  </tr>
  <tr>
    <td style="color:red;">13</td>
    <td>Mr. N.Siva Govind
    </td>
    <td>Assistant.Professor
    </td>
    <td>M.Tech</td>
   
  </tr>
  <tr>
    <td style="color:red;">14</td>
    <td> Mr.P.Surya Bharat
        </td>
    <td>Assistant.Professor
    </td>
    <td>M.Tech
    </td>
   
  </tr>
  <tr>
    <td style="color:red;">15</td>
    <td>Mrs.J.Rajyalakshmi</td>
    <td>Assistant.Professor
    </td>
    <td>M.Tech</td>
   
  </tr>
</table><br><br>

<div class="container">
  <div class="row">
      <div class="col-lg-3">
          </div>
      
          <div class="col-lg-2"><hr class="new5">
          </div>
          <div class="col-lg-1" style="text-align:center;color: #00BFFF;"><h5>PSCMR</h5> </div>
          <div class="col-lg-2"><hr class="new6 " >
          </div>
          
          <div class="col-lg-4">
          </div>
     
  </div>
  

</div>
<div><h3 style="margin-left: 550px; color: black;">Clubs & Organisations</h3></div>
<br>
<br>



            
<div class="row">
  <marquee style="background-color: white; height:200px;">
  
  <img src="https://github.com/maheswari288/ecewebsite/blob/main/assets/images/iete.jpg?raw=true" style="width: 200px; height:150px;  margin-left: 45px;"/>
 <img src="https://github.com/maheswari288/ecewebsite/blob/main/assets/images/ieee.jpg?raw=true" style="width: 200px; height:150px;  margin-left: 45px;"/>
  <img src="https://github.com/maheswari288/ecewebsite/blob/main/assets/images/rotract.jpg?raw=true" style="width: 200px; height:150px; margin-left: 45px;"/>
 <img src="https://github.com/maheswari288/ecewebsite/blob/main/assets/images/toastmasters.jpg?raw=true" style="width: 200px; height:150px;  margin-left: 45px;"/>
  <img src="https://github.com/maheswari288/ecewebsite/blob/main/assets/images/swechalogo.jpg?raw=true" style="width: 200px; height:150px;  margin-left: 45px;"/>
                  
 </marquee></div><br>



